/* work sens font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,800;1,800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */
.text-description {
    color: #534C64;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    margin-top: 0;
}


/* body {
    width: 1920px;
    height: 5927px;
} */

/* nav styles */
header {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-section {
    display: flex;
    padding: 30px;
    gap: 20px;
}

.text-primary {
    color: #FF42A5;
}

.ul-section {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-li-special {
    width: 150px;
    height: 20px;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner styles */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/Group14.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-position: left 50%;
    margin: 0 auto;
}

.banner-content {
    width: 50%;
    padding-left: 50px;
    padding-top: 5px;

}

.banner img {
    width: 50%;
    height: 50%;
}

.banner-ul-section {
    margin-top: 0;
}

.banner-ul-section li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;


}

.banner-title {
    color: #0B0223;
    /* text-align: center; */
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
}

.heading {
    /* text-align: center; */
    font-size: 95px;
    font-weight: 800;
    color: hsl(314, 35%, 52%);
    padding-top: 5px;
    margin-top: 2px;
}

.btn-primary {
    padding: 15px 30px;
    margin-left: 50px;
    border-radius: 48px;
    border: 0;
    background: #FF42A5;
}

.btn-secondary {
    padding: 15px 30px;
    ;
    border-radius: 48px;
    border: 0;
    background: #4EC5F7;
    margin-left: 10px;
}

/* online game section styles */
.online-game-section {
    margin: 30px auto;
}

.section-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;

}

.funny {
    color: hsl(314, 35%, 52%);
}

.online-game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    gap: 10px;
}

.online-game-container img {
    width: 300px;
    height: 300px;
}

/* .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(128, 18, 202);
    font-size: 50px;
    padding: 12px 24px;
    border: 0;
    border-radius: 5px;
} */

.caption {
    color: #534C64;
    font-size: 20px;
}

/* play instant section styles */
.play-instant-container {
    display: flex;

    margin-top: 50px;
}

.play-section-title {
    align-items: center;
    font-size: 48px;
    font-weight: 700;
}

.play-info {
    align-items: center;
    text-align: center;
    padding-top: 150px;
    width: 50%;
}

.play-in {
    color: rgb(128, 18, 202);

}

.play-instant-img img {
    /* height: 90%; */
    margin-left: 200px;

}

.play-instant {
    height: 70%;
    margin-left: 150px;
}

.baby-img {
    position: relative;
    width: 150px;
    bottom: 250px;
}

/* button section styles  */
.button-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: whitesmoke;
    margin-top: 20px;
    gap: 15px;

}

.child-card {
    display: flex;
    width: 243px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    align-items: center;
    gap: 15px;
}

.child-card:hover {
    border-radius: 50px;
    color: #FF42A5;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
}

/* media query */


@media screen and (max-width: 576px) {

    nav,
    .banner,
    .play-instant-container {
        flex-direction: column;
    }

    .online-game-container {
        grid-template-columns: 1fr;
    }
    .button-section {
        grid-template-columns: repeat(3, 1fr);
    }

    caption {
        text-align: left;
        align-items: center;
    }

    .play-info {
        align-items: center;
        text-align: center;
        padding-left: 200px;
    }

    /* .banner {
        flex-direction: column-reverse;
    } */
    .btn-secondary {
        margin-top: 10px;
        margin-left: 40px;
    }
}


/* medium device media query */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    .banner, .play-instant-container {
        flex-direction: column;
    }

    .online-game-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .button-section {
        grid-template-columns: repeat(4, 1fr);
    }
}